In [1]:
import json
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from nba_scraper import NbaScraper
import pandas as pd

In [2]:


# Load configuration
with open('config.json', 'r') as config_file:
    config = json.load(config_file)

# Set up the WebDriver
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

scraper = NbaScraper(driver)

# Scrape the page and get the data
data_table = scraper.scrape_boxscores_table("2023")


df = scraper.convert_table_to_df(data_table)

# Close the WebDriver
driver.quit()


print(df.info())

df.head()

2024-07-20 12:09:32,026 - PageScraper - INFO - PageScraper initialized
2024-07-20 12:09:32,027 - PageScraper - INFO - Starting page scrape for URL: https://www.nba.com/stats/teams/boxscores?SeasonType=Regular+Season&Season=2023
2024-07-20 12:09:32,027 - PageScraper - INFO - Navigating to URL: https://www.nba.com/stats/teams/boxscores?SeasonType=Regular+Season&Season=2023

Scraping https://www.nba.com/stats/teams/boxscores?SeasonType=Regular+Season&Season=2023

2024-07-20 12:09:36,304 - PageScraper - INFO - Url found and scraped successfully
2024-07-20 12:09:36,305 - PageScraper - INFO - Handling pagination. Pagination class: Pagination_pageDropdown__KgjBU, Dropdown class: DropDown_select__4pIg9
2024-07-20 12:09:41,956 - PageScraper - INFO - Selected 'ALL' in the pagination dropdown
2024-07-20 12:09:52,127 - PageScraper - WARNING - No pagination found on the page
2024-07-20 12:09:52,127 - PageScraper - INFO - Retrieving elements with class: Crom_table__p1iZz
2024-07-20 12:09:52,136 - PageScraper - INFO - Table found and scraped successfully
e:\OneDrive\nba_analysis_project\src\webscraping\nba_scraper.py:64: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(table_html, header=0)
2024-07-20 12:09:53,366 - PageScraper - INFO - Retrieving subelements with class: Anchor_anchor__cSc3P

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Team       2460 non-null   object
 1   Match Up   2460 non-null   object
 2   Game Date  2460 non-null   object
 3   W/L        2460 non-null   object
 4   MIN        2460 non-null   int64
 5   PTS        2460 non-null   int64
 6   FGM        2460 non-null   int64
 7   FGA        2460 non-null   int64
 8   FG%        2460 non-null   float64
 9   3PM        2460 non-null   int64
 10  3PA        2460 non-null   int64
 11  3P%        2460 non-null   float64
 12  FTM        2460 non-null   int64
 13  FTA        2460 non-null   int64
 14  FT%        2460 non-null   object
 15  OREB       2460 non-null   int64
 16  DREB       2460 non-null   int64
 17  REB        2460 non-null   int64
 18  AST        2460 non-null   int64
 19  STL        2460 non-null   int64
 20  BLK        2460 non-null   int64
 21  TOV        2460 non-null   int64
 22  PF         2460 non-null   int64
 23  +/-        2460 non-null   int64
 24  TEAM_ID    2460 non-null   object
 25  GAME_ID    2460 non-null   object
dtypes: float64(2), int64(17), object(7)
memory usage: 499.8+ KB
None

,Team,Match Up,Game Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,DREB,REB,AST,STL,BLK,TOV,PF,+/-,TEAM_ID,GAME_ID
0,POR,POR @ SAC,04/14/2024,L,240,82,31,98,31.6,7,...,31,54,18,11,2,18,19,-39,1610612757,0022301200
1,LAL,LAL @ NOP,04/14/2024,W,240,124,48,87,55.2,11,...,32,39,32,12,3,15,13,16,1610612747,0022301195
2,NOP,NOP vs. LAL,04/14/2024,L,240,108,41,86,47.7,15,...,29,39,26,8,1,19,17,-16,1610612740,0022301195
3,MEM,MEM vs. DEN,04/14/2024,L,240,111,45,100,45.0,8,...,27,43,22,9,2,13,18,-15,1610612763,0022301193
4,DEN,DEN @ MEM,04/14/2024,W,240,126,46,89,51.7,12,...,38,54,32,9,5,18,17,15,1610612743,0022301193